<a href="https://colab.research.google.com/github/GauraoM/Data-Analysis-for-Python/blob/main/Reading_from_sources.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Reading from Sqlite Databases

In [15]:
import sqlite3
import pandas as pd

In [16]:
# Connect to the database
conn = sqlite3.connect('sakila.db')

In [17]:
df = pd.read_sql('SELECT * FROM actor;',conn)

In [18]:
df

     actor_id first_name     last_name          last_update
0           1   PENELOPE       GUINESS  2019-04-11 18:11:48
1           2       NICK      WAHLBERG  2019-04-11 18:11:48
2           3         ED         CHASE  2019-04-11 18:11:48
3           4   JENNIFER         DAVIS  2019-04-11 18:11:48
4           5     JOHNNY  LOLLOBRIGIDA  2019-04-11 18:11:48
..        ...        ...           ...                  ...
195       196       BELA        WALKEN  2019-04-11 18:11:48
196       197      REESE          WEST  2019-04-11 18:11:48
197       198       MARY        KEITEL  2019-04-11 18:11:48
198       199      JULIA       FAWCETT  2019-04-11 18:11:48
199       200      THORA        TEMPLE  2019-04-11 18:11:48

[200 rows x 4 columns]

#### Reading from html

In [4]:
import requests
import pandas as pd

In [2]:
html_url = "https://en.wikipedia.org/wiki/The_Simpsons"

# Make request to web pages
r = requests.get(html_url)

In [5]:
wiki_tables = pd.read_html(r.text, header = 0)

In [6]:
len(wiki_tables)

41

In [8]:
# Reading first table
simpsons = wiki_tables[1]

In [9]:
simpsons.head()

   Season Season.1  ...          Viewership.1             Viewership.2
0  Season   Season  ...  Most watched episode     Most watched episode
1  Season   Season  ...     Viewers(millions)            Episode title
2       1  1989–90  ...                  33.5  "Life on the Fast Lane"
3       2  1990–91  ...                  33.6       "Bart Gets an 'F'"
4       3  1991–92  ...                  25.5          "Colonel Homer"

[5 rows x 9 columns]

In [10]:
# Dropping column
simpsons.drop([0,1], inplace = True)

In [11]:
# Resetting index
simpsons.set_index('Season',inplace=True)

In [12]:
simpsons

         Season.1  ...                          Viewership.2
Season             ...
1         1989–90  ...               "Life on the Fast Lane"
2         1990–91  ...                    "Bart Gets an 'F'"
3         1991–92  ...                       "Colonel Homer"
4         1992–93  ...                   "Lisa's First Word"
5         1993–94  ...              "Treehouse of Horror IV"
6         1994–95  ...               "Treehouse of Horror V"
7         1995–96  ...              "Treehouse of Horror VI"
8         1996–97  ...               "The Springfield Files"
9         1997–98  ...    "The Two Mrs. Nahasapeemapetilons"
10        1998–99  ...                  "Maximum Homerdrive"
11      1999–2000  ...                  "The Mansion Family"
12        2000–01  ...                  "Worst Episode Ever"
13        2001–02  ...                      "The Parent Rap"
14        2002–03  ...       "I'm Spelling as Fast as I Can"
15        2003–04  ...              "I, (Annoyed Grunt)-Bot"
16        2004–05  ...      "Homer and Ned's Hail Mary Pass"
17        2005–06  ...             "Treehouse of Horror XVI"
18        2006–07  ...                    "The Wife Aquatic"
19        2007–08  ...           "Treehouse of Horror XVIII"
20        2008–09  ...             "Treehouse of Horror XIX"
21        2009–10  ...     "Once Upon a Time in Springfield"
22        2010–11  ...             "Moms I'd Like to Forget"
23        2011–12  ...               "The D'oh-cial Network"
24        2012–13  ...           "Homer Goes to Prep School"
25        2013–14  ...                  "Steal This Episode"
26        2014–15  ...       "The Man Who Came to Be Dinner"
27        2015–16  ...  "Teenage Mutant Milk-Caused Hurdles"
28        2016–17  ...                      "Pork and Burns"
29        2017–18  ...                    "Frink Gets Testy"
30        2018–19  ...                 "The Girl on the Bus"
31        2019–20  ...                  "Go Big or Go Homer"
32        2020–21  ...            "Treehouse of Horror XXXI"
33        2021–22  ...                                   TBA

[33 rows x 8 columns]

In [14]:
min_season = simpsons['No. ofepisodes'].min()
min_season

'13'